<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增食品</title>
    <!-- css路徑 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/food/foodPage.css}" />
    <!-- CND路徑 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>

<body id="foodList">
	<div th:replace="~{back/NavSide}"></div>
    <div align="center" class="main-block">
        <h1>新增食品</h1>
        <h2>以100克含量紀錄</h2>
        <form th:action="@{/food/InsertFood}" method="post" class="insertFood">
            <label for="foodName">食品名稱:</label><br>
            <input type="text" id="foodName" name="foodName" value="7-11麻油雞飯糰" required><br>

            <label for="protein">蛋白質含量:</label><br>
            <input type="text" id="protein" name="protein" value="6.3" required><br>

            <label for="carbohydrates">碳水化合物含量:</label><br>
            <input type="text" id="carbohydrates" name="carbohydrates" value="27.8" required><br>

            <label for="fat">脂肪含量:</label><br>
            <input type="text" id="fat" name="fat" value="5.5" required><br>

            <input type="submit" value="提交">
        </form>
        <br>
        <a th:href="@{/food/ShowFood}" class="backbtn">
            <i class="fa-solid fa-rotate-left"></i>返回食品列表
        </a>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>