.totalmsg {
	color: #0a0a0a;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
}

.totalmsg span {
	color: #36935B;
	margin: 0 4px;
}

.buttons {
	width: 57% !important;
}

.functionBtn {
	padding: 10px 20px;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	border-radius: 10px;
	border: none;
	transition: all 0.5s ease-in-out;
}

.functionBtn:hover {
	color: #fff;
}

.add {
	background-color: #13AE85;
}

.query {
	background-color: #3497e8;
}

.delete {
	background-color: #DC143C;
	transition: all 0.5s ease-in-out;
}

.delete-confirmed {
	background-color: #DC143C;
}

.delete-title {
	background-color: #DC143C;
}

.delete-column {
	display: none;
}

.switch {
	font-size: 17px;
	position: relative;
	display: inline-block;
	width: 3.5em;
	height: 2em;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(182, 182, 182);
	transition: .4s;
	border-radius: 10px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 1.4em;
	width: 1.4em;
	border-radius: 8px;
	left: 0.3em;
	bottom: 0.3em;
	transform: rotate(270deg);
	background-color: rgb(255, 255, 255);
	transition: .4s;
}

.switch input:checked + .slider {
	background-color: #21cc4c;
}

.switch input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
	transform: translateX(1.5em);
}