a {
  text-decoration: none;
}

table {
  margin: 30px auto 40px auto;
  overflow: hidden;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
  border-radius: 8px;
}

thead td {
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  background-color: #233446;
  padding: 15px 25px;
}

tbody tr {
  background-color: white;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #dee2e6;
}

tbody td {
  padding: 15px 20px;
}

td {
  width: auto;
  font-size: 17px;
}

.fa-wrench {
  font-size: 24px;
}

table a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
}

.fa-wrench {
  transition: color 0.5s ease-in-out;
}

#modified:hover .fa-wrench,
.fa-wrench:hover {
  color: #f36100;
}

td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}

tr:first-child td {
  border-top: none;
}

tbody tr:last-child td {
  border-bottom: none;
}

table tbody tr:hover {
  background-color: #e6e6e6;
}

tbody tr td:lt(6) {
  cursor: pointer;
}

tbody tr:last-child {
  border-bottom: transparent;
}