<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed" xmlns:th="https://www.thymeleaf.org/">

<head>
  <th:block th:fragment="navBarCss">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/fonts/boxicons.css}" />
    <link rel="stylesheet" th:href="@{/css/lib/core.css}" class="template-customizer-core-css" />
    <link rel="stylesheet" th:href="@{/css/lib/theme-default.css}" class="template-customizer-theme-css" />
    <link rel="stylesheet" th:href="@{/css/lib/perfect-scrollbar.css}" />
    <link rel="stylesheet" th:href="@{/css/lib/apex-charts.css}" />
    <script th:src="@{/js/lib/helpers.js}"></script>
    <script th:src="@{/js/lib/config.js}"></script>
  </th:block>
</head>

<body>
  <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a th:href="@{/admin/index}" class="app-brand-link">
        <span class="app-brand-logo demo">
          <img th:src="@{/images/back/Logo-without-name.png}" alt="">
        </span>
        <span class="app-brand-text demo menu-text fw-bolder ms-2">GYMNITY</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item active" id="index">
        <a th:href="@{/admin/index}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div>後台首頁</div>
        </a>
      </li>

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">管理系統</span>
      </li>

      <li class="menu-item" id="member-ul">
        <a href="" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bxs-user"></i>
          <div>會員系統</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a th:href="@{/admin/getallmembers.controller}" class="menu-link">
              <div>會員管理</div>
            </a>
          </li>
          <li class="menu-item">
            <a th:href="@{/adminChatList}" class="menu-link">
              <div>線上客服</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item" id="coach-ul">
        <a href="" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons fa-regular fa-calendar-check"></i>
          <div>教練系統</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a th:href="@{/admin/coach/CoachGetAll}" class="menu-link">
              <div>教練管理</div>
            </a>
          </li>
          <li class="menu-item">
            <a th:href="@{/admin/course/CourseGetAll}" class="menu-link">
              <div>課程管理</div>
            </a>
          </li>
          <li class="menu-item">
            <a th:href="@{/admin/schedule/ScheduleGetAll}" class="menu-link">
              <div>課表管理</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item" id="mall-ul">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class='menu-icon tf-icons bx bxs-store-alt'></i>
          <div>商城系統</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a th:href="@{/admin/products/allList}" class="menu-link">
              <div>商品管理</div>
            </a>
          </li>
          <li class="menu-item">
            <a th:href="@{/admin/order/all}" class="menu-link">
              <div>訂單管理</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item" id="menu-ul">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bxs-food-menu"></i>
          <div>菜單系統</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a th:href="@{/admin/food/ShowFood}" class="menu-link">
              <div>食品列表管理</div>
            </a>
          </li>
          <li class="menu-item">
            <a th:href="@{/admin/foodMenu/allMenus}" class="menu-link">
              <div>會員飲食紀錄表</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item" id="fourm-ul">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons fa-solid fa-newspaper"></i>
          <div>論壇系統</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a th:href="@{/admin/forum/getAllReports}" class="menu-link">
              <div>檢舉管理</div>
            </a>
          </li>
          <li class="menu-item">
            <a th:href="@{/admin/forum/getAllComments}" class="menu-link">
              <div>留言管理</div>
            </a>
          </li>
          <li class="menu-item">
            <a th:href="@{/admin/forum/getAllArticles}" class="menu-link">
              <div>文章管理</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item" id="ticket-ul">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons fa-solid fa-ticket"></i>
          <div>票卷系統</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a th:href="@{/ticket/list}" class="menu-link">
              <div>票卷管理</div>
            </a>
          </li>
          <li class="menu-item">
            <a th:href="@{/ticketorder/selectall}" class="menu-link">
              <div>訂單管理</div>
            </a>
          </li>
          <li class="menu-item">
            <a th:href="@{/ticket/add}" class="menu-link">
              <div>新增票卷</div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>

  <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
    id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
      <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
        <i class="bx bx-menu bx-sm"></i>
      </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
      <!-- Search -->
      <div class="navbar-nav align-items-center">
        <div class="nav-item d-flex align-items-center">
          <i class="bx bx-search fs-4 lh-0"></i>
          <input type="text" class="form-control border-0 shadow-none" placeholder="Search..." aria-label="Search..." />
        </div>
      </div>
      <!-- /Search -->

      <ul class="navbar-nav flex-row align-items-center ms-auto">
        <!-- User -->
        <li class="nav-item navbar-dropdown dropdown-user dropdown">
          <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
            <div class="avatar avatar-online">
              <img th:src="@{/images/back/Logo-without-name.png}" alt class="w-px-40 h-auto rounded-circle" />
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="#">
                <div class="d-flex">
                  <div class="flex-shrink-0 me-3">
                    <div class="avatar avatar-online">
                      <img th:src="@{/images/back/Logo-without-name.png}" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <span class="fw-semibold d-block">GYMNITY</span>
                    <small class="text-muted">Admin</small>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <div class="dropdown-divider"></div>
            </li>
            <li>
              <a class="dropdown-item" th:href="@{/logout.controller}">
                <i class="bx bx-power-off me-2"></i>
                <span class="align-middle">Log Out</span>
              </a>
            </li>
          </ul>
        </li>
        <!--/ User -->
      </ul>
    </div>
  </nav>

  <th:block th:fragment="js">
    <script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/lib/jquery-3.7.1.js}"></script>
    <script th:src="@{/js/lib/popper.js}"></script>
    <script th:src="@{/js/lib/perfect-scrollbar.js}"></script>
    <script th:src="@{/js/lib/menu.js}"></script>
    <script th:src="@{/js/lib/apexcharts.js}"></script>
    <script th:src="@{/js/lib/main.js}"></script>
    <script th:src="@{/js/back/NavBar.js}"></script>
  </th:block>
</body>

</html>